<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Media Naranja IWEB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A397A0041BFB29A1006A35FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A397A0181BFB29A1006A35FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A397A0231BFB29A1006A35FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
